*{
            box-sizing: border-box;
        }
        
       .row {
            border: 0px solid black;
            width: 100%;
        }
        .separate_box{
            background-color:rgb(153,149,149);
            border:2px solid black;
            padding-left:10px;  /* padding: top right bottom left   */
            margin:10px;
            /*width:350px;*/
        }
        #first{
            background-color:rgb(206, 99, 165);
            border:2px solid black;
            height: 30px;
            width: 20%;
            position: relative;
            margin-left: 80%;
            text-align: center;
            }
        #second{
            background-color:red;
            border:2px solid black;
            height: 30px;
            width: 20%;
            position: relative;
            margin-left: 80%;
            text-align: center;
        }
        #third{
            background-color:rgb(160, 158, 52);
            border:2px solid black;
            height: 30px;
            width: 20%;
            position: relative;
            margin-left: 80%;
            text-align: center;
        }
        h1{
            text-align: center;
        }
        /********** Large devices only **********/
        @media (min-width: 992px) {
          .col-lg-4{
            float: left;
          }
          .col-lg-4 {
            width: 33.33%;
          }
          
        }

        /********** Medium devices only **********/
        @media (min-width: 768px) and (max-width: 991px) {
          .col-md-6,.col-md-12 {
            float: left;
          }
          .col-md-6 {
            width: 50%;
          }
          .col-md-12 {
            width: 100%;
          }
        }

        /********** short devices only **********/
        @media (max-width: 767px){
          .col-sh-12 {
            float: left;
          }
          .col-sh-12 {
            width: 100%;
          }
        }
        

